.Edit-Student-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Edit-Student-Input {
  padding: 4px 11px;
  width: 55vw;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  outline: none;
}

.Edit-Student-Submit {
  background-color: #3833A5;
  width: 45px;
  height: 40px;
  color: #fff;
  border: none;
  margin-left: 18px;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
}
