body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

input {
  display: block;
  padding: 10px;
  margin: 1rem;
  width: 200px;
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

a {
  text-decoration: none;
}